<%- include('header.ejs') %>

<h1><a href="/">MarsRover</a> / Home page.</h1>
<p>That's the API list you can use:</p>

<ul>
  <% routesList.forEach((route)=>{ %>
    <li><a href="/<%= route %>"><%= route %></a></li>
  <% }); %>
</ul>

<%- include('map.ejs') %>