<%- include('header.ejs') %>
<h1>MarsRover / Move</h1>

<form method="post" action="/roverMove">
    <input type="text" name="commands" placeholder="insert move command like f,f,r">
    <input type="submit" value="send command/s" style="margin-top: .4em;">
</form>

<div class="message">
    <small>message for you: <b><i><%-message%></i></b></small>
</div>


<%- include('map.ejs') %>